/* ヘッダ */

.header {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  background: #2d333f;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.5rem;
}

.user_icon {
  fill: #c5c3c0;
}

.user_name {
  color: #999da1;
}

.card_info {
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

.card_title {
  font-size: 16px;
  font-weight: 400;
}
