.game_item {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.game_icon {
  /* border-radius: 5px; */
  /* margin-right: 0.5rem; */
}

.info_stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-left: 12px;
}

.info_first {
}

.info_second {
}

.info_third {
  display: flex;
  justify-content: space-between;
}

.game_title {
  color: #cad5df;
}

.last_play {
  color: #536b89;
  font-size: 11px;
}

.play_time {
  color: #cad5df;
}
