.card {
  width: 100vw;
  background: #1d2837;
  border-radius: 0.75rem;
}

.header {
  display: flex;
  padding: 1.5rem;
  gap: 1.5rem;
  align-items: center;
}

.user_icon {
  border-radius: 5px;
  border-radius: 0.75rem;
}

.card_info {
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

.card_title {
}
