:root {
  --content-bgcolor: #1d2837;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
